footer {
    position: relative;
    input {
        background-color: transparent !important;
        border-bottom: 1px solid #91A7BA !important;
        outline: unset;
        border: unset;
        font-size: 17px;
    }
    textarea {
        background-color: transparent !important;
        border-bottom: 1px solid #91A7BA !important;
        outline: unset;
        border: unset;
        font-family: "Red Hat Display", sans-serif !important;
        font-size: 17px;
    }
}
